---
BasedOnStyle: WebKit
AllowShortLoopsOnASingleLine: false
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
    - Regex: '^"'
      Priority: 1
    - Regex: "(projectDir1|projectDir2|projectDir3)"
      Priority: 2
    - Regex: "(someDep1|someDep2)"
      Priority: 3
    - Regex: ".*"
      Priority: 4
NamespaceIndentation: All
Standard: c++20
TabWidth: 4
UseTab: Always
ColumnLimit: 150
